<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
</head>
<body>
	<h2 th:text="${message}"></h2>
	
	<h1>Welcome To AdminPanel PortFolio</h1>
	
	<a href="aboutForm">About Description</a><br><br>
	<a href="workTitle">Work Title</a><br><br>
	<a href="resumeUpload">Import Resume</a><br><br>
	<a href="resumeUploadTest">Download and Delete Resume</a><br><br>
	<a href="experinceUpload">Upload Experience</a><br><br>
	<a href="educationUpload">Upload Education</a><br><br>
	<a href="addProjects">Upload Projects</a><br><br>
	<a href="deleteProjects">Delete Projects</a><br><br>
	<a href="changeCredentials">Change Credentials</a><br><br>
	<a href="readAllContacts">Contacts</a><br><br>
	<a href="getImage">Get Image Name</a><br><br>
	<a href="/dologout">Logout</a><br><br>
</body>
</html>