<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Portfolio Website</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/unicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/tooplate-style.css">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>
	
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="portfolio"><i class='uil uil-user'></i>Irshad</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
  <section class="about full-screen" id="about">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="about-text">
                <h1 th:text=${message}></h1>
                    <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
                    <h1 class="animated animated-text">
                        <span>Hey folks, I'm</span>
                        <div class="animated-info" style="display: flex; flex-wrap: nowrap;">
                            <th:block th:each="title : ${titles}">
                                <span th:text="${title.title}" class="animated-item" style="margin-right: 5px;"></span>
                            </th:block>
                        </div>
                    </h1><br><br>
                    <div th:each="about:${abouts}">
                        <p th:text="${about.about}">Building a successful product is a challenge.I am highly energetic in user experience design, interfaces and web development.Building a successful product is a challenge.I am highly energetic in user experience design, interfaces and web development.</p>
</div>
                          <div class="custom-btn-group mt-4">
                        <!-- Dynamic resume download links -->
                        
                        <ul>
                            <li th:each="resume : ${resumes}"><br>
                                <a th:href="@{/download/{id}(id=${resume.id})}" class="btn custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                            </li>
                            <li th:if="${#lists.isEmpty(resumes)}">
                                
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <!--             <div th:each="project : ${readProjects}" class="item">
                <div class="project-info">
                    <img 
                        th:src="@{myprimg/{imageName}(imageName=${project.image})}" 
                        alt="Project Image" 
                        
                        style="width: 450px; height: auto; max-width: 459px;"
                    />
                    
                </div> -->
 <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Things I have designed for digital media agencies</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div th:each="project :${readProjects}" class="item">
                          <div class="project-info">
                            <img th:src="@{myprimg/{imageName}(imageName=${project.image})}" class="img-fluid" alt="project image"/>
                          </div>
                        </div>
                       </div>
                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
     <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experiences</h2>

                    <div th:each="experince : ${experinces}"class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span th:text="${experince.year}">2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span th:text= "${experince.title}">Project Manager</span>
                                  <small th:text="${experince.subtitle}">Best Studio</small></h3>
                                  <p th:text="${experince.description}">Proin ornare non purus ut rutrum. Nulla facilisi. Aliquam laoreet libero ac pharetra feugiat. Cras ac fermentum nunc, a faucibus nunc.</p>
                             </div>
                        </div>
                    </div>
                </div>
                
                <!--                 <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2017</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Mobile Web</span><small>Master Design</small></h3>
                                  <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>
                             </div>
                        </div> -->
               <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2">Educations</h2>

                <div th:each="education : ${readEducations}" class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span th:text="${education.year}">Year</span>
                        </div>
                        <div class="timeline-info">
                            <h3>
                                <span th:text="${education.title}">Title</span>
                                <small th:text="${education.subtitle}">Sub title</small> <!-- Assuming you have a subtitle field -->
                            </h3>
                            <p th:text="${education.description}">Description</p>
                        </div>
                    </div>
                </div>

                <!-- Optional: Add a fallback message if no education records are found -->
                <!-- This part can be removed if you don't want any message -->
                <div th:if="${#lists.isEmpty(alleducation)}" class="no-records" style="display: none;">
                    <p>No education records found.</p>
                </div>
            </div>        
        </div>
    </div>
</section>
    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d481.9520090405993!2d76.39502541932595!3d14.902731492678237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1729925891680!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Say hello</h3>
                  <p class="footer-text mb-0">8884546945</p>
                  <p><a href="mailto:meirshad07@gmail.com">meirshad07@gmail.com</a></p>
                </div>

                <ul class="social-links">
                     <li><a href="https://www.linkedin.com/in/irshad-n-7ab239270/" class="uil uil-dribbble" data-toggle="tooltip" data-placement="left" title="Linledin"></a></li>
         <!--            <li><a href="#" class="uil uil-instragram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                      <li><a href="#" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li> -->
                </ul>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Interested to work together? Let's talk</h2>
                <form id="form" th:action="@{messageform}" th:object="${messageForm}" method="post">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" th:value="${messageForm.name}" placeholder="Your Name" id="name">
                    <!--Using Span To print the error stored bindingresult of POJO class's Fields  in the web page-->
<!--Now which all errors we print all the error of name field  using th:errors="*{name}" -->
						<span style="color:red" th:if="${#fields.hasErrors ('name')}" th:errors="*{name}"></span>  
						
	<!-- Same for every field -->
                  </div>


                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" th:value="${messageForm.email}" placeholder="Email" id="email">
					<span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						                
				</div>
                  
                   <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="phone" placeholder="Enter 10 Digits Phone Number" id="phone">
                    <span style="color:red" th:if="${#fields.hasErrors('phone')}" th:value="${messageForm.phone}" th:errors="*{phone}"></span>
                  </div>
                  
                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" th:value="${messageForm.message}" placeholder="Message"></textarea>
                    <span style="color:red" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Send Button">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p style="text-align: center;">Designed by <a rel="nofollow" href="https://www.linkedin.com/in/irshad-n-7ab239270/">Irshad</a></p>
                        <p  style="text-align: center;">
    <a href="https://github.com/Ninza-coding" style="color: blue; text-decoration: none;">GitHub</a>
</p>
                    
               </div>
          </div>
     </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>